<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="laser_scanner" params="robot_name include_laser:=true">
        <xacro:if value="${include_laser}">
            <!-- Laser Sensor -->
            <link name="laser_sensor">
                <visual>
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://barista_robot_description/meshes/hokuyo.dae" scale="1 1 1"/>
                    </geometry>
                </visual>
                <inertial>
                    <mass value="0.160"/>
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <inertia ixx="0.000099" ixy="0" ixz="0" iyy="0.000099" iyz="0" izz="0.000066"/>
                </inertial>
                <collision>
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <box size="0.050 0.050 0.070"/>
                    </geometry>
                </collision>
            </link>
            <!-- Laser Frame-->
            <link name="laser_frame">
                <inertial>
                    <mass value="0.0001"/>
                    <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
                </inertial>
            </link>
            <!-- Laser Sensor - Laser Frame -->
            <joint name="laser_sensor_to_laser_frame" type="fixed">
                <parent link="laser_sensor"/>
                <child link="laser_frame"/>
                <origin xyz="0 0 0.060" rpy="0 0 0"/>
            </joint>
            <gazebo reference="laser_sensor_to_laser_frame">
                <preserveFixedJoint>true</preserveFixedJoint>
            </gazebo>
            <!-- Laser Sensor Plugin -->
            <gazebo reference="laser_frame">
                <sensor name="${robot_name}_sensor_ray" type="ray">
                    <pose>0 0 0 0 0 0</pose>
                    <ray>
                        <scan>
                            <horizontal>
                            <samples>200</samples>
                            <resolution>1.0</resolution>
                            <min_angle>-3.14</min_angle>
                            <max_angle>3.14</max_angle>
                            </horizontal>
                        </scan>
                        <range>
                            <min>0.025</min>
                            <max>5.0</max>
                        </range>
                    </ray>
                    <always_on>true</always_on>
                    <visualize>false</visualize>
                    <update_rate>10.0</update_rate>
                    <plugin name="${robot_name}_laser" filename="libgazebo_ros_ray_sensor.so">
                        <ros>
                            <namespace>/${robot_name}</namespace>
                            <remapping>~/out:=scan</remapping>
                        </ros>
                        <frame_name>${robot_name}/laser_frame</frame_name>
                        <output_type>sensor_msgs/LaserScan</output_type>
                    </plugin>
                </sensor>
            </gazebo>
        </xacro:if>
    </xacro:macro>  
</robot>